.sidebar {
    width: 20vw;
    height: 100vh;
    position: fixed;
    background-color: var(--color-primary);
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 1;

    &-items {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .sidebar-item {
            display: flex;
            margin: 10px 0;
            width: 100%;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1.2rem;
            font-weight: bold;

            >i {
                margin-right: 10px;
            }

            cursor: pointer;

            &:hover {
                background-color: burlywood;
            }
        }
    }
}

.item-label {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 480px) { 
    .sidebar {
        display: none;
    }
   }