app-sidebar{
    display: block;
}
.dashboard {
    .content{
        position: relative;
        top: 60px;
        right: -20vw;
        width: 80vw;
        height: 100vh;
        background-color: aquamarine;
    }
}

@media (max-width: 480px) {
    .dashboard{
        .content {
            left: 0;
            width: 100vw;
        }
    }

}