app-header {
    width: 100%;
}
.dashboard{
    &-toolbar{
        padding: inherit !important;
        background: var(--color-primary);
        @media (min-width: 480px) {
            button{
                display: none;
            }
        }
        button {
            background: transparent;
        }
        mat-icon{
            color: white;
        }
    }
    &-sidenav{
        background: var(--color-primary-light);
        width: 200px;
        color: white;
        .mat-list-item{
            color: white;
            &.mat-list-item-selected{
                background: var(--color-primary);
                color: white;
            }
        }
    }
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

